@import "~bootstrap/dist/css/bootstrap.css";

.center{
    margin: 0 auto;
    width:70%;
    margin-top: 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
